@charset "utf-8";
body{margin:0;padding: 0;}
img{vertical-align: top;}
.ask-btn{text-align: center;border-radius: 50px;}
.ask-btn a{width: 240px;height: 60px;line-height: 60px;display: inline-block;border-radius: 50px;font-size: 18px;font-weight: bold;}
.header-title{font-size: 64px; font-weight: bold; }
.header-title-p{font-size: 34px; font-weight: normal;}
/*头部*/
.header{height: 99px;background: #fff;border-bottom: 1px solid #e4e6ea;}
.header-main{padding: 25px 0 23px; width: 1200px;overflow: hidden;}
.logo{padding: 8px 208px 0 17px;}
.nav{overflow: hidden;}
.menu{line-height: 50px;}
.menu li a{padding: 10px 19px;font-size: 20px; color: #5d6981;border-radius: 50px;}
/*导航hover效果<li class="on">*/
.menu li.on a{border: 1px solid #9fabba;}
.share li{padding-right: 15px;}

/*services*/
.services{padding:120px 0 130px;background:linear-gradient(#edeff1,#ffffff,#e2e4e8,#ffffff);}
.service-header{text-align: center;}
.service-header h2{color: #0149a1;}
.service-header p{color: #5d6981;}
.services-main{padding-top: 98px;}
.service-ask-btn{background: #ff2d55;color: #fff;}
.video-box{margin: 110px auto 92px; width: 1327px;height: 548px;line-height: 548px; background: url(images/check.png) center no-repeat;text-align: center;}
.video-play-btn{position: relative;text-align: left;padding-left: 30px; width: 104px;height: 60px;line-height: 60px;display: inline-block; color: #0149a1;font-size: 18px;font-weight: bold;background: #fff;border-radius: 50px;}
.arr_play{position: absolute;right: 18px; top:18px; border: 12px solid transparent;border-left: 12px solid #6785bb;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.services-footer{margin: 0 auto; width: 1080px;}
.content-list li {width: 270px;text-align: center;}
.content-list-img{width: 270px;height: 97px; margin-bottom: 44px;}
.content-list li h3{margin-bottom: 16px; color: #5d6981;font-size: 30px;}
.content-list li p{color: #7c8ca0;font-size: 18px;line-height: 30px;}

/*creativity*/
.creativity{position: relative;}
.creativity-btn{position: absolute;bottom: 32%;left: 43%;box-shadow: 0 17px 56px 28px #fff;}
.creativity-ask-btn{background: #0149a1;color: #fff;}

/*work-step*/
.work-step{padding: 110px 0 130px; margin-top: -5px; background: #0149a1;}
.work-step header h2{color: #fff;}
.work-step header p{color: #5483bb;}
.work-step-main{margin: 100px auto 0;width: 1200px;}
.work-step-img{padding:20px 0 0 43px;}
.work-step-txt{padding-right: 26px; width: 585px;font-size: 18px;color: #fff;}
.work-step-txt p{margin-bottom: 30px; line-height: 30px;}
.workStep-ask-btn{background: #fff;color: #0149a1;}
.work-step-footer{margin-top: 54px;}

/*scroll*/
.scroll{margin-bottom: 97px!important; width: 1200px;position: relative;}
.scroll-main{padding: 105px 0 58px;text-align: center;}
.scroll-main ul{margin: 0 auto; width: 630px;}
.scroll-main ul li{float: none;color:#7c8ca0;margin-bottom: 40px;font-size: 22px;}
.scroll-main ul li.fz_18 a{color: #7c8ca0;text-decoration: underline;}
.scroll .arr_left,.scroll .arr_right{position: absolute;top: 50%; width: 79px;height: 79px;line-height:100px;border-radius: 50px;border: 2px solid #e3e7eb;text-align: center;display: inline-block;}
.scroll .arr_left{left: 0;}
.scroll .arr_right{right: 0;}
.scroll-list{position: absolute;left: 50%;margin-left: -85px;overflow: hidden;}
.scroll-list li{margin-right: 9px; float: left;width: 18px;height: 18px;line-height: 18px ;text-align: center; border: 1px solid #7c8ca0;border-radius: 50px;cursor: pointer;}
.scroll-list li a.on{width: 12px;height: 12px;background: #7c8ca0;border-radius: 50px;display: inline-block;}

/*team*/
.team{padding: 116px 0 126px;background: #fafafa;}
.team-box{width: 1200px;}
.team-header .header-title{color: #0149a1;}
.team-header .header-title-p{color: #5d6981;}
.team-main{margin-top: 90px;}
.team-footer{margin-top: 85px;}

/*friendLink*/
.friendLink{padding: 80px 0 123px; background: #0149a1;}
.friendLink-main{width: 1200px;}
.friendLink-list{padding: 0 15px 130px;}
.friendLink-list li{width: 290px;font-size: 18px;}
.friendLink-listUl li{float: none;}
.friendLink-listUl li a{color: #fff;}
.friendLink-footer{color: #fff;font-size: 18px;}
.friendLink-footer p span{font-weight: bold;}